html {
    min-height: 100vh;
    font-family: "Nunito", serif;
    background-color: var(--bg-primary);
    color: var(--font-primary);
}

/* Set core body defaults */
body {
    height: 100vh;
    max-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-width: 80%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    flex: 1;
}

a {
    font-weight: 600;
}

.active,
a:hover,
a:focus {
    border-bottom: 2px solid var(--font-primary);
}