nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
}

nav div {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    flex: 1;
}

nav a {
    border-bottom: 2px solid var(--bg-secondary);
}

ul {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

footer {
    padding: 20px 10px;
    min-height: 100%;
}