.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 60px;
}

.landing-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 800px;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
}

.paragraph {
  margin-top: 30px;
  font-size: 1.2rem;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 30px;
}